@model SecurityLite.Models.Order

@{
    ViewData["Title"] = "Заказы - подробности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.AccountNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.AccountNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSigning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfSigning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin") || User.IsInRole("manager"))
    {
        <a asp-action="finalDataCost" asp-route-id="@Model?.Id">Расчитать стоимость и дату выполнения</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a>
        <a asp-action="Index">На главную</a>
    }
    @if (User.IsInRole("client"))
    {
        <a asp-action="Index">На главную</a>
    }
</div>
