@model IEnumerable<SecurityLite.Models.GuardedObject>

@{
    ViewData["Title"] = "Выбор объекта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Объекты</h1>

<section>
    <h3>Заказ</h3>
    <p>
       Номер Заказа:@ViewBag.Order.Id
    </p>
</section>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building)
                </td>
                <td>
                    <form asp-action="SelectObject">
                        <input type="hidden" name="orderId" value="@ViewBag.Order.Id" /> 
                        <input type="hidden" name="objectId" value="@item.Id" />
                        <input type="submit" value="Выбрать" class="btn btn-primary"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
